
body{
    background-color: #fff;
    display: flex;
    margin: auto
}

#overview {width:50%}
#form {width:50%}
img {
    padding: 10%;
}
form{
    display: block;
    margin: auto;
    padding: 10%;
}

@media only screen and (max-width: 600px){
    img{
        display: none
    }
    }